# Dataset Preparation

Converting csv file into Dataframe for preparing to data analysis.

In [99]:
import pandas as pd

columns=['LocalCidade','LocalUF','LocalEstado','RegiaoBrasil','PopEstimada_2018','PopCenso_2010','IDHM','ReceitasRealizadas_2014','DespesasEmpenhadas_2014','Pib_2014']

In [100]:
data = pd.read_csv (r'Cities_Brazil_IBGE.csv')
df = pd.DataFrame(data, columns=columns)
df

,LocalCidade,LocalUF,LocalEstado,RegiaoBrasil,PopEstimada_2018,PopCenso_2010,IDHM,ReceitasRealizadas_2014,DespesasEmpenhadas_2014,Pib_2014
0,ALTA FLORESTA D'OESTE,RO,Rondonia,N,23167,24392,"0,641",53490,47577,"16461,11"
1,ARIQUEMES,RO,Rondonia,N,106168,90353,"0,702",0,0,"19401,43"
2,CABIXI,RO,Rondonia,N,5438,6313,"0,65",22635,19354,"18346,17"
3,CACOAL,RO,Rondonia,N,84813,78574,"0,718",169636,155473,"20725,23"
4,CEREJEIRAS,RO,Rondonia,N,16444,17029,"0,692",53147,46774,"22179,17"
...,...,...,...,...,...,...,...,...,...,...
5565,VIANOPOLIS,GO,Goiás,CO,13746,12548,"0,712",37777,33220,"23237,24"
5566,VICENTINOPOLIS,GO,Goiás,CO,8611,7371,"0,684",26783,23511,"39480,36"
5567,VILA BOA,GO,Goiás,CO,6026,4735,"0,647",17295,15646,"18992,37"
5568,VILA PROPICIO,GO,Goiás,CO,5758,5145,"0,634",19148,16785,"35691,39"
5569,BRASILIA,DF,Distrito Federal,CO,2974703,2570160,"0,824",20665448,19008773,"73971,05"

In [101]:
def comma_to_dot(x): return float(str(x.replace(',', '.')))

# Replacing commas with dots
df['IDHM'] = df['IDHM'].apply(func)
df['Pib_2014'] = df['Pib_2014'].apply(func)

# Checking and removing rows with zero value
df = df.drop(df[(df.ReceitasRealizadas_2014 == 0) | (df.PopCenso_2010 == 0) | (df.ReceitasRealizadas_2014 == 0) | (df.DespesasEmpenhadas_2014 == 0)].index)
df

,LocalCidade,LocalUF,LocalEstado,RegiaoBrasil,PopEstimada_2018,PopCenso_2010,IDHM,ReceitasRealizadas_2014,DespesasEmpenhadas_2014,Pib_2014
0,ALTA FLORESTA D'OESTE,RO,Rondonia,N,23167,24392,0.641,53490,47577,16461.11
2,CABIXI,RO,Rondonia,N,5438,6313,0.650,22635,19354,18346.17
3,CACOAL,RO,Rondonia,N,84813,78574,0.718,169636,155473,20725.23
4,CEREJEIRAS,RO,Rondonia,N,16444,17029,0.692,53147,46774,22179.17
5,COLORADO D OESTE,RO,Rondonia,N,16227,18591,0.685,34612,34381,15300.88
...,...,...,...,...,...,...,...,...,...,...
5565,VIANOPOLIS,GO,Goiás,CO,13746,12548,0.712,37777,33220,23237.24
5566,VICENTINOPOLIS,GO,Goiás,CO,8611,7371,0.684,26783,23511,39480.36
5567,VILA BOA,GO,Goiás,CO,6026,4735,0.647,17295,15646,18992.37
5568,VILA PROPICIO,GO,Goiás,CO,5758,5145,0.634,19148,16785,35691.39
5569,BRASILIA,DF,Distrito Federal,CO,2974703,2570160,0.824,20665448,19008773,73971.05