# Dataset Preparation

Converting csv file into Dataframe for preparing to data analysis.

In [136]:
import pandas as pd

columns=['LocalCidade','LocalUF','RegiaoBrasil','PopEstimada_2018','PopCenso_2010','IDHM','ReceitasRealizadas_2014','DespesasEmpenhadas_2014','Pib_2014']

In [137]:
data = pd.read_csv (r'data/Cities_Brazil_IBGE.csv')
df = pd.DataFrame(data, columns=columns)
df

,LocalCidade,LocalUF,RegiaoBrasil,PopEstimada_2018,PopCenso_2010,IDHM,ReceitasRealizadas_2014,DespesasEmpenhadas_2014,Pib_2014
0,ALTA FLORESTA D'OESTE,RO,N,23167,24392,"0,641",53490,47577,"16461,11"
1,ARIQUEMES,RO,N,106168,90353,"0,702",0,0,"19401,43"
2,CABIXI,RO,N,5438,6313,"0,65",22635,19354,"18346,17"
3,CACOAL,RO,N,84813,78574,"0,718",169636,155473,"20725,23"
4,CEREJEIRAS,RO,N,16444,17029,"0,692",53147,46774,"22179,17"
...,...,...,...,...,...,...,...,...,...
5565,VIANOPOLIS,GO,CO,13746,12548,"0,712",37777,33220,"23237,24"
5566,VICENTINOPOLIS,GO,CO,8611,7371,"0,684",26783,23511,"39480,36"
5567,VILA BOA,GO,CO,6026,4735,"0,647",17295,15646,"18992,37"
5568,VILA PROPICIO,GO,CO,5758,5145,"0,634",19148,16785,"35691,39"
5569,BRASILIA,DF,CO,2974703,2570160,"0,824",20665448,19008773,"73971,05"

In [138]:
def idh_to_rank(x):
    a=0
    if x>0 and x<0.350: a = 1     
    elif x<0.555: a = 2
    elif x<0.700: a = 3
    elif x<0.800: a = 4
    elif x<=1: a = 5
    return int(a)

In [139]:
def comma_to_dot(x): return float(str(x).replace(',', '.'))
string_columns = ['LocalUF']
# Replacing commas with dots
df['IDHM'] = df['IDHM'].apply(comma_to_dot)
df['Pib_2014'] = df['Pib_2014'].apply(comma_to_dot)
#Transformar IDH em Rank
df['IDHM'] = df['IDHM'].apply(idh_to_rank)
# Checking and removing rows with zero value
df = df.drop(df[(df.PopEstimada_2018 == 0) | (df.PopCenso_2010 == 0) | (df.ReceitasRealizadas_2014 == 0) | (df.DespesasEmpenhadas_2014 == 0)].index)
data = pd.get_dummies(df, columns= string_columns)
data

,LocalCidade,RegiaoBrasil,PopEstimada_2018,PopCenso_2010,IDHM,ReceitasRealizadas_2014,DespesasEmpenhadas_2014,Pib_2014,LocalUF_AC,LocalUF_AL,...,LocalUF_PR,LocalUF_RJ,LocalUF_RN,LocalUF_RO,LocalUF_RR,LocalUF_RS,LocalUF_SC,LocalUF_SE,LocalUF_SP,LocalUF_TO
0,ALTA FLORESTA D'OESTE,N,23167,24392,3,53490,47577,16461.11,0,0,...,0,0,0,1,0,0,0,0,0,0
2,CABIXI,N,5438,6313,3,22635,19354,18346.17,0,0,...,0,0,0,1,0,0,0,0,0,0
3,CACOAL,N,84813,78574,4,169636,155473,20725.23,0,0,...,0,0,0,1,0,0,0,0,0,0
4,CEREJEIRAS,N,16444,17029,3,53147,46774,22179.17,0,0,...,0,0,0,1,0,0,0,0,0,0
5,COLORADO D OESTE,N,16227,18591,3,34612,34381,15300.88,0,0,...,0,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5565,VIANOPOLIS,CO,13746,12548,4,37777,33220,23237.24,0,0,...,0,0,0,0,0,0,0,0,0,0
5566,VICENTINOPOLIS,CO,8611,7371,3,26783,23511,39480.36,0,0,...,0,0,0,0,0,0,0,0,0,0
5567,VILA BOA,CO,6026,4735,3,17295,15646,18992.37,0,0,...,0,0,0,0,0,0,0,0,0,0
5568,VILA PROPICIO,CO,5758,5145,3,19148,16785,35691.39,0,0,...,0,0,0,0,0,0,0,0,0,0
5569,BRASILIA,CO,2974703,2570160,5,20665448,19008773,73971.05,0,0,...,0,0,0,0,0,0,0,0,0,0

In [140]:
data.to_csv(path_or_buf=r'data/DATA_F.csv')