# IDH Classification

Using the classification below, we use the ID3 tree decision to classificate the presented IDH

    0,800 – 1,000 (muito alto)
    0,700 – 0,799 (alto)
    0,555 – 0,699 (médio)
    0,350 – 0,554 (baixo)
    0,0 – 0,349 (muito baixo)

In [3]:
from sklearn import tree
from sklearn.metrics import confusion_matrix
import pandas as pd
import numpy as np
import random

columns=['LocalUF','LocalEstado','RegiaoBrasil','PopEstimada_2018','PopCenso_2010','IDHM','ReceitasRealizadas_2014','DespesasEmpenhadas_2014','Pib_2014']

In [4]:
# Loading the formatted data
data = pd.read_csv (r'data/DATA_F.csv')
df = pd.DataFrame(data, columns=columns)
df

,LocalCidade,LocalUF,LocalEstado,RegiaoBrasil,PopEstimada_2018,PopCenso_2010,IDHM,ReceitasRealizadas_2014,DespesasEmpenhadas_2014,Pib_2014
0,ALTA FLORESTA D'OESTE,RO,Rondonia,N,23167,24392,0.641,53490,47577,16461.11
1,CABIXI,RO,Rondonia,N,5438,6313,0.650,22635,19354,18346.17
2,CACOAL,RO,Rondonia,N,84813,78574,0.718,169636,155473,20725.23
3,CEREJEIRAS,RO,Rondonia,N,16444,17029,0.692,53147,46774,22179.17
4,COLORADO D OESTE,RO,Rondonia,N,16227,18591,0.685,34612,34381,15300.88
...,...,...,...,...,...,...,...,...,...,...
4613,VIANOPOLIS,GO,Goiás,CO,13746,12548,0.712,37777,33220,23237.24
4614,VICENTINOPOLIS,GO,Goiás,CO,8611,7371,0.684,26783,23511,39480.36
4615,VILA BOA,GO,Goiás,CO,6026,4735,0.647,17295,15646,18992.37
4616,VILA PROPICIO,GO,Goiás,CO,5758,5145,0.634,19148,16785,35691.39
4617,BRASILIA,DF,Distrito Federal,CO,2974703,2570160,0.824,20665448,19008773,73971.05